   .sidebar {
      width: 265px;
      height: 100vh;
      background-color: #111;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      position: fixed;
      overflow-y: auto;
    }



.sidebar .nav-link {
  color: white;
}

.sidebar .nav-link:hover {
  background-color: #333;
  border-radius: 6px;
}
